{% extends 'base.html' %} {% load i18n widget_tweaks %} {% block content %} {{block.super}}
<div class="col-md-4"></div>
<div class="col-md-4">
    <h2>Sign in</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            {% render_field form.username class="form-control" placeholder='username' %}
            <p style="color: red">{{form.username.errors}}</p>
        </div>
        <div class="form-group">
            {% render_field form.password class="form-control" placeholder='password' %}
            <p style="color: red">{{form.password1.errors}}</p>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
<div class="col-md-4"></div>
{% endblock %}