{%extends 'base.html'%} {% load static %}
<!-- content -->
{% block content %} {{block.super}}
<div class="card">
    <div class="card-img-overlay">
        <div class="row">
            <div class="col-md-3">
                <h1 class="card-title text-center">{{user_data.username}}</h1>
                {% if user_profile.photo %}
                <img class="img-responsive thumbnail" src=" {{ user_profile.photo.url }} " alt=""> {% endif %}
                <br>
                <!-- <p class="card-text">{{user_data.username}}</p> -->
                <div class="row">
                    <div class="col-md-3">
                        <p><strong>Email:</strong></p>
                    </div>
                    <div class="col-md-9">
                        <p>{{user_data.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p><strong>Phone:</strong></p>
                    </div>
                    <div class="col-md-9">
                        <p>{{user_profile.phone}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p><strong>Bio:</strong></p>
                    </div>
                    <div class="col-md-9">
                        <p>{{user_profile.bio}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p><strong>Mtaa:</strong></p>
                    </div>
                    <div class="col-md-9">
                        <p>{{user_profile.neighbourhood}}</p>
                    </div>
                </div>
                <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>
            </div>
            <div class="col-md-9">
                {% for business in businesses %}
                <div class="row">
                    <div class="col-md-3">
                        {% if business.logo %}
                        <img src="{{ business.logo.url }}" alt="" class="img-responsive img-rounded"> {% endif %}
                    </div>
                    <div class="col-md-9">
                        <p>{{business.name}}</p>
                        <p>{{business.phone}}</p>
                        <p>{{business.email}}</p>
                        <p>{{business.website}}</p>
                        <p>{{business.neighbourhood}}</p>
                    </div>
                </div>
                {% empty %}
                <div class="row">
                    <h2 class="text-center">There are no businesses in {{business.neighbourhood}}</h2>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}